html, body {
  background: #015;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

div#header {
  font-size: 90%;
  height: 10%;
  text-align: center;
}

svg#map {
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

path.continent {
  fill-opacity: 0;
  stroke: #FFF;
  stroke-opacity: 1;
}

path.river {
  fill: none;
  stroke: #002890;
  stroke-width: 5px;
}

circle.vertex {
  fill: #FFF;
  fill-opacity: 0.75;
  display: none;
}

path.cell.deepwater {
  display: none;
}

path.cluster {
  pointer-events: none;
  stroke-opacity: 0;
  stroke-width: 2px;
  stroke: #FFF;
  fill-opacity: 0;
  fill: #000;
}

path.cluster.ocean {
  display: none;
}

#mask {
  background: url('noise.png');
  color: #FFF;
  font-size: 1.5em;
  padding: 2em;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

text.cell-value {
  visibility: hidden;
}

svg#map g.cell-value circle {
  visibility: hidden;
  fill-opacity: 0.25;
}

svg#map path.cell {
  stroke: none;
}

svg#map.zoom-2 g.cell-value circle {
  fill-opacity: 0.5;
  visibility: visible;
}

svg#map.zoom-2 path.cell {
  stroke: #FFF !important;
  stroke-opacity: 0.1;
  stroke-width: 0.5px;
}

svg#map.zoom-2 text.cell-value {
  visibility: visible;
  fill: #000;
  font-size: 8px;
  font-weight; bold;
  text-anchor: middle;
  /*text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25);*/
  user-select: none;
  -webkit-user-select: none;
}